ConnectionStrings__DefaultConnection=Host=YOUR_DB_HOST;Port=5432;Database=YOUR_DB_NAME;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD

S3__AccessKey=YOUR_S3_ACCESS_KEY
S3__SecretKey=YOUR_S3_SECRET_KEY

Email__SmtpUser=YOUR_EMAIL@gmail.com
Email__SmtpPass=YOUR_APP_PASSWORD

Google__ClientId=YOUR_GOOGLE_CLIENT_ID
Google__AndroidClientId=YOUR_GOOGLE_ANDROID_CLIENT_ID
Google__ClientSecret=YOUR_GOOGLE_CLIENT_SECRET

TokenKey=YOUR_LONG_RANDOM_JWT_SIGNING_KEY
